.bg-light {
    background-color: rgb(0, 0, 0) !important;
}

.navbar-brand {
    color: black;
}

.btn-primary {
    --bs-btn-bg: rgb(5, 198, 156);
}

.call-to-action {
    position: relative;
    
    background: url("/img/fundo.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

.img-topo {
    width: 60px;
    /*altura*/
    margin-top: 10px;
    margin-left: 0px;
}

.p{
    background-color: black;
}
.card-text{
    color: black;
}